<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
           class="form-control"
           id="title"
           formControlName="title">
    <div class="alert alert-danger"
         *ngIf="title?.errors && (title?.touched || title?.dirty)">
      <p *ngIf="title?.errors?.required">This is required!</p>
      <p *ngIf="title?.errors?.maxlength">This is limited to {{title?.errors?.maxlength?.requiredLength}} characters or
        less.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text"
           class="form-control"
           id="author"
           formControlName="author">
    <div class="alert alert-danger"
         *ngIf="author?.errors && (author?.touched || author?.dirty)">
      <p *ngIf="author?.errors?.required">This is required!</p>

    </div>
  </div>
  <div class="form-group">
    <label for="suggestedBy">Suggested By</label>
    <input type="text"
           class="form-control"
           id="suggestedBy"
           formControlName="suggestedBy">
  </div>
  <div class="form-group">
    <label for="title">Format</label>
    <select class="form-control"
            formControlName="format">
      <option *ngFor="let format of formats">{{format}}</option>
    </select>
    <div class="alert alert-danger"
         *ngIf="format?.errors && (format?.touched || format?.dirty)">
      <p *ngIf="format?.errors?.required">This is required!</p>

    </div>
  </div>
  <div class="form-group">
    <label for="link">Link</label>
    <input type="text"
           class="form-control"
           id="link"
           formControlName="link">
  </div>
  <button type="submit"
          class="btn btn-primary">Add This Resource</button>
</form>
