<div class="card"
     *ngFor="let item of items">
  <div class="card-header">
    {{ item.title }}
  </div>
  <div class="card-body">
    <p>By {{ item.author }}</p>
    <p>Suggested by {{ item.suggestedBy || "Unknown" }}</p>
    <p>This is a {{ item.format }}</p>
    <p>Find it here <a href="{{ item.link }}">Link</a></p>
  </div>
  <div class="card-footer">
    <p *ngIf="item.watchedOn">You watched this on {{ item.watchedOn | date:'shortDate'}}</p>
    <button *ngIf="!item.watchedOn"
            class="btn btn-primary">Mark as Watched</button>
  </div>
</div>
