<div class="card">
  <div class="card-header">
    Entity Framework With .NET 6
  </div>
  <div class="card-body">
    <p>By Julie Lehrman</p>
    <p>Suggested by Esther</p>
    <p>This is a Pluralsight Video</p>
    <p>Find it here <a href="http://pluralsight.com/videos/blah">Pluralsight</a></p>
  </div>
  <div class="card-footer">
    <p>You watched this on 10/31/2021</p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Docker for Dummies
  </div>
  <div class="card-body">
    <p>By Julie Lehrman</p>
    <p>Suggested by Esther</p>
    <p>This is a Youtube Video</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary">Mark as Watched</button>
  </div>
</div>
